html {
    background-image: url(websiteImages/170322126.jpg), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-blend-mode: overlay;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    background: transparent;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
}

li a:hover {
    color: #111;
}