:root {
    --text-color-1: #FFFF;
    --container-width-lg: 88%;
    --container-width-md: 92%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

html {
    background-image: url(images/170322126.jpg), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    background-blend-mode: overlay;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: right;
}

.body {
    display: flex;
    justify-content: center;

}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 1600px;
} 

.aboutMe__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.aboutMe__portrait {
    padding: 8rem;

}

.aboutMe__bio {
    flex-direction: column;
}

p {
    color: var(--text-color-1);
}

.paragraph {
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--text-color-1);
}

h2 {
    color: var(--text-color-1);
}

ul {

    list-style-type: none;
    padding: auto;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
}

li {
    float: right;
}

li a {
    display: block;
    color: var(--text-color-1);
    background: transparent;
    text-align: center;
    padding: 2px 10px;
    text-decoration: none;
}

li a:hover {
    color: #111;
}